mixin menuLink(title, href = "#")
    li.header-menu-item 
        a.header-menu-link(href= href)= title 

mixin headerBottomItem(number, title, active = "")
    .header-bottom-item(class= active) 
        span.header-bottom-number= number 
        span.header-bottom-text= title 

mixin blockBox(caption, title, desc)
    .block-box 
        h3.block-box-caption= caption 
        h2.block-box-heading= title 
        if desc
            p.block-box-desc= desc 

mixin aboutItem(about)
    .about-item 
        img.about-image(src= about.src)
        .about-content 
            i.about-icon(class= about.iconClass) 
            span.about-title= about.title 

mixin serviceItem(src, title, desc)
    .service-item 
        img.service-item-icon(src= src)
        .service-item-info 
            h3.service-item-title= title
            p.service-item-desc= desc 

mixin wedoItem(src, title, desc, active = "")
    .wedo-item
        .wedo-item-header 
            img.wedo-item-icon(src= src)
            h3.wedo-item-title= title
            i.fal.fa-angle-down.wedo-item-arrow 
        .wedo-item-content(class= active)
            .wedo-item-content-inner
                .wedo-item-text= desc

mixin teamSocial(facebook = "#", twitter = "#", pinterest = "#", instagram = "#")
    ul.team-social
        li.team-social-item 
            a.team-social-link(href= facebook)
                i.fab.fa-facebook-f.team-icon 
        li.team-social-item 
            a.team-social-link(href= twitter)
                i.fab.fa-twitter.team-icon 
        li.team-social-item 
            a.team-social-link(href= pinterest)
                i.fab.fa-pinterest-p.team-icon 
        li.team-social-item 
            a.team-social-link(href= instagram)
                i.fab.fa-instagram.team-icon 

mixin teamItem(src, name, position)
    .team-item
        .team-main   
            img.team-image(src= src)
            .team-content
                if block 
                    block
        .team-info
            h3.team-name= name
            span.team-position= position

mixin workItem(src, full, icon= "./images/img-work-icon.png", title= "Creatively Designed", desc= "Lorem ipsum dolor sit")
    .work-item(class= full) 
        img.work-image(src= src)
        .work-content 
            img.work-icon(src= icon)
            h3.work-title= title
            span.work-desc.text.text--light= desc

mixin peopleItem(src, name, job = "Graphic Design", desc = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, deserunt sunt facere numquam blanditiis repudiandae cum magnam repellendus quis nisi. Illum reiciendis omnis sequi placeat voluptatum dolores architecto hic fugiat?") 
    li.people-item 
        img.people-avatar(src= src)
        .people-info 
            h3.people-name.name= name 
            span.people-job.text.text--light= job
            p.people-desc.text.text--normal= desc

mixin storyItem(src = "./images/img-blog1.png", desc, dateNumber = "15", dateText = "Jan", title = "Lorem ipsum dolor sit amet",  view = "542", comment = "17")
     li.story-item 
        .story-media 
            img.story-image(src= src)
            .story-date 
                span.story-date-number= dateNumber
                span.story-date-text.text.text--light= dateText
        h3.story-title= title
        .story-desc.text.text--normal 
            p.story-desc-inner= desc
        .story-meta 
            .story-meta-item 
                i.fa.fa-eye.story-meta-icon 
                span.story-meta-number.text.text--light= view
            .story-meta-item 
                i.fa.fa-comment-dots.story-meta-icon 
                span.story-meta-number.text.text--light= comment

mixin quoteItem(src = "images/img-quote.png",type = false, desc = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates doloribus dolorum, fuga praesentium ratione omnis neque iste dicta, facilis corporis, accusantium dolor!", author = "Jon Doe") 
     .quote-item
        if type == false
            .quote-icon 
                img(src= src)
        else 
            img.quote-image(src= src)
        .quote-info 
            p.quote-desc= desc 
            span.quote-author= author
